*{margin:0; padding:0; outline:0}
body{font-family:arial;font-size:16px; line-height:18px; color:#000;}
.templete{width:960px;margin:0 auto;}
.clear{overflow:hidden;}
.headersection{
	height:90px;
	background:green;
}
.headersection h1 {
    font-size: 50px;
    text-align: center;
    padding-top: 35px;
}
.Navsection{
	background:#9b999a
}
.Navsection ul{margin:0; padding:0; list-style:none;}
.Navsection ul li{display:block; float:left;}
.Navsection ul li a {
	background: #9b999a;
	color: #fbfbfb;
	display: block;
	padding: 5px 10px;
	text-decoration: none;
	margin: 5px;
	font-size: 25px;
	font-weight: bold;
}
.Navsection ul li a:hover{
	background:#fff;
	color:black;
}
.Contantsection{
	background:#fff;
}
.maincontant {
	width: 600px;
	background: #e7a7a7;
	float: left;
	padding: 10px;
	margin: 10px 10px 10px 0px;
}
.maincontant p {
	font-size: 16px;
	line-height: 25px;
	padding-bottom: 15px;
}
.samepost{}
.samepost h2 {
	padding: 10px;
	line-height: 30px;
	margin-bottom: 10px;
	border-bottom: 2px solid #555;
}
.samepost img {
	float: left;
	width: 230px;
	margin-right: 10px;
	background: #fff;
	padding: 10px;
	border: 2px solid #120d0f;
}
.samepost p {
	font-size: 16px;
	line-height: 25px;
	text-align: justify;
}
.readmore{
	float:right;
}
.readmore a {
	text-decoration: none;
	background: #fff;
	display: block;
	padding: 5px 10px;
	font-size: 18px;
	color: #333;
	border: 2px solid #9b999a;
	border-radius: 15px;
}
.readmore a:hover{
	background:black;
	color:yellow;
}
.sidebar {
	width: 310px;
	background: #a7c99e;
	float: right;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.samesidebar{}
.samesidebar h2 {
	background: #756775 none repeat scroll 0 0;
	padding: 10px;
	margin-bottom: 5px;
	color: #fff;
	border-bottom: 4px solid #362020;
}
.samesidebar p {
	margin-bottom: 10px;
}
.footersection{
	height:100px;
	background:#b08989;
}
.footersection h1 {
	color: #fff;
	text-align: center;
	font-size: 50px;
	padding-top: 35px;
	font-weight: bold;
}
.
.
.
.
.
.
